.p-error {
    color: #ff0000;
}

.p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus,
.p-menu .p-menuitem-link:focus
{
    box-shadow: none !important;
}
.product-price {
    font-size: 1.2rem;
    font-weight: 400;
}
.count-quantity {
    padding: 0.2rem;
    border-radius: 5px;
  }
  .count-quantity-danger {
    background: rgb(255, 0, 0, 0.3);
  }
  .count-quantity-warning {
    background: rgb(255, 255, 0, 0.3);
  }
  .count-quantity-success {
    background: rgb(0, 128, 0, 0.3);
  }
  .custom-scrolltop {
    background-color: var(--primary-color) !important;
  }
  .p-button:focus {
    box-shadow: none !important;
  }
  body {
    margin: 0;
  }
  #app {
    font-family: var(--font-family);
  }
  .p-tabview .p-tabview-nav li .p-tabview-nav-link:not(.p-disabled):focus {
    box-shadow: none !important;
  }